{% extends "Base.html" %}
{% block content %}


    <article class="media content-section">
        <form role="form" action={% url "client_tables"  %} method="POST">
            {% csrf_token %}
            <input type="submit" name="order" value="Choose seat" >
        </form>
        <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <form role="form" action={% url "create_order" 0 %} method="POST">
            {% csrf_token %}
            <input type="submit" name="order" value="Take-away" >
        </form>
    </article>
    {% for item in items %}
     <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ item.name }}</a>
              <small class="text-muted">{{ item.strat_hour|date:"F d, Y" }}</small>
                <small class="text-muted"> - </small>
              <small class="text-muted">{{ item.kind }}</small>





            </div>
            <h4><a class="article-title" >{{ item.name }}</a></h4>
                 <p>Price -{{ item.price }} ₪</p>
              <article class="article-content">{{ item.desc }}</article>

              {% if item.photo %}
                  <img src= {{item.photo}} width="300" height="200">
              {% endif %}
                  <p>Porularity - {{ item.popularity }} stars </p>

                  <form role="form" action={% url "cart" %} method="POST">
                    {% csrf_token %}
                        <input name="num" type="hidden" value={{ item.id }}>
                     <input type="submit" name="cart" value="remove" >
                 </form>

              </div>

        </article>


    {% endfor %}

{% endblock content %}