{% extends "brista_Base.html" %}
{% block content %}
<style>
aside {
  width: 45%;
  padding-left: 5px;
  margin-left: 5px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}
</style>

    {% for item in items %}
     <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ item.name }}</a>
              <small class="text-muted">{{ item.strat_hour|date:"F d, Y" }}</small>
                <small class="text-muted"> - </small>
              <small class="text-muted">{{ item.kind }}</small>





            </div>
            <h4><a class="article-title" >{{ item.name }}</a></h4>
                 <p>Price -{{ item.price }} ₪</p>
              {% if item.photo %}
                  <img src= {{item.photo}} width="300" height="200">
              {% endif %}
                  <p>Popularity - {{ item.popularity }} stars </p>

                  <form role="form" action={% url "order_details" id %} method="POST">
                    {% csrf_token %}
                        <input name="remove" type="hidden" value={{ item.id }}>
                     <input type="submit" name="cart" value="remove" >
                 </form>

              </div>

        </article>


    {% endfor %}

{% endblock content %}