{% extends "Base.html" %}
{% block content %}
    <article class="media content-section">
          <div class="media-body">

            <h4><a class="article-title" ><center>Welcome to the Coffee-shop ! </center></a></h4>

              </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
              <img src="https://images.theconversation.com/files/437989/original/file-20211216-17-4fznuz.jpg?ixlib=rb-1.1.0&rect=0%2C0%2C5760%2C3828&q=45&auto=format&w=926&fit=clip"width="700" height="500">
            <p class="article-content"></p>

              </div>
        </article>

{% endblock content %}