{% extends "Base.html" %}
{% block content %}
<article class="media content-section">
          <div class="media-body">
    <h2>{{ object.title }}</h2>
<form action="" method="POST">
    {% csrf_token %}

   <div class="fieldWrapper">
        {% for field in form %}
    <div class="fieldWrapper">

        {{ field.label_tag }} <p>{{ field }}</p>
        {{ field.errors }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}

    </div>

    <input type="submit" name="Submit">
</form>
              </div>
        </article>
{% endblock content %}



